<h1>///</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis posuere neque ut luctus. Integer pellentesque efficitur
    dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
<a href="/trips">View all points of interest</a>