<div class="landing">
    <h1>WANDERLIST</h1>
    <img src="logo.png" alt="logo" width="275" height="275">
    <p>Keep track of things to do, places to see and where to eat &amp; drink in the cities of your dreams.</p>
    <a href="/trips">View All Points of Interest</a>
</div>