body {
  /*gradient 061 from webgradients.com*/
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 50px;
  margin: 10px 0px 10px 0px;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}
p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}
a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
ul {
  padding-left: 0;
}
li {
  margin: 25px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}
form {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
button,
select {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  /*border: none;*/
}
.landing {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}
input[type="text"] {
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: solid 3px white;
  caret-color: white;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
  width: 450px;
}
input[type="submit"] {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  height: 40px;
}
label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin: 25px 0;
}
input:focus {
  outline: none;
}
