h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
li {
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
a {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
form {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
button,
select {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  /*border: none;*/
}
