<h1> Points of Interest </h1>

<ul style="list-style-type:none">
    {{#each trips}}
    <li>
        <a href="/trips/{{this.id}}">{{this.name}}</a>
        </br>{{this.location}} ||
        <em>{{this.type}}</em>
    </li>
    {{/each}}
</ul>

<button type="button" onclick="location.href = '/trips/new/';">+ Add a New Point of Interest</button>