<h1> What I Need to Eat, Drink, See and Do </h1>

<ul style="list-style-type:none">
    {{#each trips}}
    <li>
        <a href="/trips/{{this.id}}">{{this.name}}</a>
        </br>{{this.location}} || {{this.type}}
    </li>
    {{/each}}
</ul>

<a href="/trips/new/">Add a new trip</a>