<h1>Add a Trip</h1>

<form action="/trips" method="POST">
    <p>
        <label for="trip">Location:</label>
        <input type="text" name="trip">
    </p>
    <p>
        <label for="restaurant">Restaurant Name:</label>
        <input type="text" name="restaurant">
    </p>
    <p>
        <label for="type">Type:</label>
        <input type="text" name="type">
    </p>
    <p>
        <label for="website">Website:</label>
        <input type="text" name="website">
    </p>
    <input type="submit" value="Add Trip">
</form>