<h1>Add a Point of Interest</h1>

<form action="/trips" method="POST">
    <p>
        <label for="location">City*:</label>
        <input required type="text" name="location">
    </p>
    <p>
        <label for="name">Name*:</label>
        <input required type="text" name="name">
    </p>
    <p>
        <label for="website">Website:</label>
        <input type="text" name="website">
    </p>
    <p>
        <label for="notes">Notes:</label>
        <input type="text" name="notes">
    </p>
    <select name="type">
        <option value="Brewery">Brewery</option>
        <option value="Place to See">Place To See</option>
        <option value="Restaurant">Restaurant</option>
        <option value="Thing To Do">Thing To Do</option>
    </select>
    <input type="submit" value="Add">
</form>